@import "tailwindcss";

:root {
  --background: 255 100% 100%;
  --foreground: 240 10% 10%;
  --primary: 265 60% 45%;
  --primary-foreground: 0 0% 100%;
  --secondary: 240 10% 90%;
  --secondary-foreground: 240 10% 20%;
}

.dark {
  --background: 240 10% 10%;
  --foreground: 0 0% 100%;
  --primary: 265 60% 60%;
  --primary-foreground: 240 10% 10%;
  --secondary: 240 10% 30%;
  --secondary-foreground: 0 0% 100%;
}

